<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Details</title>
    <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
    <link rel="website icon" type="image/png" href="{{url_for('static', filename='collegeLogo.png')}}">
    <meta property="og:title" content="Mentorship Records" />
    <meta property="og:description" content="Record keeping of Mentorship details" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />

    <!-- Add Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Add custom styles -->
    <style>
        .profile .logout-btn {
            display: block;
            margin: 20px auto 0;
            padding: 10px 20px;
            background-color: red;
            color: var(--white);
            text-align: center;
            border-radius: 20px;
            text-decoration: none;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        section {
            padding: 20px;
        }

        .table-container {
            overflow-x: scroll;
        }

        table {
            height: auto;
        }

        .btn-container {
            display: flex;
            justify-content: flex-start;
            /* gap: 20px; */
        }

        .btn-container button {
            padding: 10px 20px;
            background-color: white;
            color: #000;
            border: none;
            cursor: pointer;
            /* margin: 0 10px; */
            border-bottom: 3px solid #4A00E0;
        }

        .btn-container button:nth-child(2) {
            border-bottom: none;
        }

        .btn-container button:hover {
            background-color: #b2b2b2;
            color: #4A00E0;
        }

        #admission_year_select_form {
            display: flex;
            gap: 10px;
        }

        #admission_year {
            padding: 10px;
            border: 1px solid #000;
            border-radius: 5px;
        }

        .cst {
            display: none;
        }

        #admission_year_select_form button {
            padding: 10px 20px;
            background-color: #4A00E0;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>

    <!-- Add Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Add Font Awesome for Icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>

<body>
    <script>
        const cst = () => {
            document.querySelector('.cst').style.display = 'block';
            document.querySelector('.aiml').style.display = 'none';
            document.querySelector('#button2').style.borderBottom = '3px solid #4A00E0';
            document.querySelector('#button1').style.borderBottom = 'none';
        }

        const aiml = () => {
            document.querySelector('.cst').style.display = 'none';
            document.querySelector('.aiml').style.display = 'flex';
            document.querySelector('#button1').style.borderBottom = '3px solid #4A00E0';
            document.querySelector('#button2').style.borderBottom = 'none';
        }
    </script>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='collegeLogo.png') }}" alt="JIS College Logo">
        </div>
        <div class="profile">
            <h2>{{user.username}}</h2>
            <a class="logout-btn" href="/logout">Logout</a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                        </svg>&nbsp;
                        Home
                    </a>
                </li>
                <li>
                    <a href="/profile">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" />
                        </svg>&nbsp;
                        Profile
                    </a>
                </li>
                {% if user.role in ['mentor', 'admin'] %}
                {% if user.role == 'admin' %}
                <li>
                    <a href="/dashboard">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64L0 400c0 44.2 35.8 80 80 80l400 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 416c-8.8 0-16-7.2-16-16L64 64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z" />
                        </svg>&nbsp;
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/register">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3zM504 312l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                        </svg>&nbsp;
                        Add User
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="/schedule_meet">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L64 64C28.7 64 0 92.7 0 128l0 16 0 48L0 448c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-256 0-48 0-16c0-35.3-28.7-64-64-64l-40 0 0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L152 64l0-40zM48 192l80 0 0 56-80 0 0-56zm0 104l80 0 0 64-80 0 0-64zm128 0l96 0 0 64-96 0 0-64zm144 0l80 0 0 64-80 0 0-64zm80-48l-80 0 0-56 80 0 0 56zm0 160l0 40c0 8.8-7.2 16-16 16l-64 0 0-56 80 0zm-128 0l0 56-96 0 0-56 96 0zm-144 0l0 56-64 0c-8.8 0-16-7.2-16-16l0-40 80 0zM272 248l-96 0 0-56 96 0 0 56z" />
                        </svg>&nbsp;
                        Schedule a Meeting
                    </a>
                </li>
                <li>
                    <a href="/add_entry">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                        </svg>&nbsp;
                        Add Entry
                    </a>
                </li>
                <li>
                    <a href="/add_session">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M96 32l0 32L48 64C21.5 64 0 85.5 0 112l0 48 448 0 0-48c0-26.5-21.5-48-48-48l-48 0 0-32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 32L160 64l0-32c0-17.7-14.3-32-32-32S96 14.3 96 32zM448 192L0 192 0 464c0 26.5 21.5 48 48 48l352 0c26.5 0 48-21.5 48-48l0-272zM224 248c13.3 0 24 10.7 24 24l0 56 56 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-56 0 0 56c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-56-56 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l56 0 0-56c0-13.3 10.7-24 24-24z" />
                        </svg>&nbsp;
                        Add Session
                    </a>
                </li>
                {% endif %}
                {% if user.role == 'student' %}
                <li>
                    <a href="/schedules_meetings">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M0 128C0 92.7 28.7 64 64 64l256 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2l0 256c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1l0-17.1 0-128 0-17.1 14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z" />
                        </svg>&nbsp;
                        Scheduled Meetings
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <section class="students">
        <span style="display: flex; align-items: center; justify-content: flex-start; gap: 50px;">
            <h2>Entries</h2>
            <form action="/entries" method="post" id="admission_year_select_form">
                <select name="admission_year" id="admission_year">
                    <option value="">-- Select Admission Year --</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                </select>
                <!-- <button type="submit">Submit</button> -->
            </form>
        </span>
        <div class="btn-container">
            <button onclick="aiml()" id="button1">AIML</button>
            <button onclick="cst()" id="button2">CST</button>
        </div>
        <div class="table-container aiml">
            <table>
                <thead>
                    <tr>
                        <th>Functions</th>
                        <th>Student Roll</th>
                        <th>Program</th>
                        <th>Department</th>
                        <th>Section</th>
                        <th>Group</th>
                        <th>Name</th>
                        <th>JIS ID</th>
                        <th>Admission Year</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Father's Name</th>
                        <th>Father's Phone</th>
                        <th>Mentor Name</th>
                        <th>Mentor Email</th>
                        <th>Mentor Phone</th>
                        <th>Mentor Department</th>
                    </tr>
                </thead>
                <tbody>
                    {% if aiml_entries %}
                    {% for each_entry in aiml_entries %}
                    <tr>
                        <td>
                            <a href="/edit/{{ each_entry.uid }}" class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                    <path fill="#000000"
                                        d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1
                                    23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152L0 424c0 48.6 39.4 88 88 88l272 0c48.6 0 88-39.4 88-88l0-112c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 112c0 22.1-17.9 40-40 40L88 464c-22.1 0-40-17.9-40-40l0-272c0-22.1 17.9-40 40-40l112 0c13.3 0 24-10.7 24-24s-10.7-24-24-24L88 64z" />
                                </svg>
                            </a>
                            <a href="{{ url_for('delete_entry', uid=each_entry.uid) }}" class="delete-link"
                                style="color: red;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
                                    <path fill="#ff0000"
                                        d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>
                            </a>
                        </td>
                        <td>{{each_entry.student_roll}}</td>
                        <td>{{each_entry.program}}</td>
                        <td>{{each_entry.department}}</td>
                        <td>{{each_entry.section}}</td>
                        <td>{{each_entry.group}}</td>
                        <td>{{each_entry.name}}</td>
                        <td>{{each_entry.jis_id}}</td>
                        <td>{{each_entry.admission_year}}</td>
                        <td>{{each_entry.phone}}</td>
                        <td>{{each_entry.email}}</td>
                        <td>{{each_entry.father_name}}</td>
                        <td>{{each_entry.father_phone}}</td>
                        <td>{{each_entry.mentor_name}}</td>
                        <td>{{each_entry.mentor_email}}</td>
                        <td>{{each_entry.mentor_phone}}</td>
                        <td>{{each_entry.mentor_department}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="17">No entries found</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="table-container cst">
            <table>
                <thead>
                    <tr>
                        <th>Functions</th>
                        <th>Student Roll</th>
                        <th>Program</th>
                        <th>Department</th>
                        <th>Section</th>
                        <th>Group</th>
                        <th>Name</th>
                        <th>JIS ID</th>
                        <th>Admission Year</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Father's Name</th>
                        <th>Father's Phone</th>
                        <th>Mentor Name</th>
                        <th>Mentor Email</th>
                        <th>Mentor Phone</th>
                        <th>Mentor Department</th>
                    </tr>
                </thead>
                <tbody>
                    {% if cst_entries %}
                    {% for each_entry in cst_entries %}
                    <tr>
                        <td>
                            <a href="/edit/{{ each_entry.uid }}" class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                    <path fill="#000000"
                                        d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1
                                    23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152L0 424c0 48.6 39.4 88 88 88l272 0c48.6 0 88-39.4 88-88l0-112c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 112c0 22.1-17.9 40-40 40L88 464c-22.1 0-40-17.9-40-40l0-272c0-22.1 17.9-40 40-40l112 0c13.3 0 24-10.7 24-24s-10.7-24-24-24L88 64z" />
                                </svg>
                            </a>
                            <a href="{{ url_for('delete_entry', uid=each_entry.uid) }}" class="delete-link"
                                style="color: red;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
                                    <path fill="#ff0000"
                                        d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>
                            </a>
                        </td>
                        <td>{{each_entry.student_roll}}</td>
                        <td>{{each_entry.program}}</td>
                        <td>{{each_entry.department}}</td>
                        <td>{{each_entry.section}}</td>
                        <td>{{each_entry.group}}</td>
                        <td>{{each_entry.name}}</td>
                        <td>{{each_entry.jis_id}}</td>
                        <td>{{each_entry.admission_year}}</td>
                        <td>{{each_entry.phone}}</td>
                        <td>{{each_entry.email}}</td>
                        <td>{{each_entry.father_name}}</td>
                        <td>{{each_entry.father_phone}}</td>
                        <td>{{each_entry.mentor_name}}</td>
                        <td>{{each_entry.mentor_email}}</td>
                        <td>{{each_entry.mentor_phone}}</td>
                        <td>{{each_entry.mentor_department}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="17">No entries found</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('admission_year_select_form');
            const select = document.getElementById('admission_year');

            // Listen for changes on the select element
            select.addEventListener('change', function() {
                // Submit the form when a new option is selected
                if (select.value !== "") {
                    form.submit();
                }
            });
        });
    </script>
</body>

</html>