<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentee Details</title>
    <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
    <link rel="website icon" type="image/png" href="{{url_for('static', filename='collegeLogo.png')}}">
    <meta property="og:title" content="Mentorship Records" />
    <meta property="og:description" content="Record keeping of Mentorship details" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />

    <!-- Add Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Add custom styles -->
    <style>
        .profile .logout-btn {
            display: block;
            margin: 20px auto 0;
            padding: 10px 20px;
            background-color: red;
            color: var(--white);
            text-align: center;
            border-radius: 20px;
            text-decoration: none;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        section {
            padding: 20px;
        }

        .table-container {
            overflow-x: scroll;
        }

        table {
            height: auto;
        }

        #view_details {
            background-color: blue;
            color: white;
            padding: 10px;
            margin: 10px;
            text-decoration: none;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        #view_details:hover {
            background-color: darkblue;
            transform: scale(1.1);
        }

        select {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 16px;
            color: #333;
            transition: border-color 0.3s ease;
        }

        select:focus {
            border-color: #007bff;
            outline: none;
        }

        option {
            padding: 10px;
            background-color: #fff;
            color: #333;
        }

        #department {
            background: transparent;
            border: none;
            outline: none;
            color: black;
        }
    </style>

    <!-- Add Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Add Font Awesome for Icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="logo">
            <img src="{{ url_for('static', filename='collegeLogo.png') }}" alt="JIS College Logo">
        </div>
        <div class="profile">
            <h2>{{user.username}}</h2>
            <a class="logout-btn" href="/logout">Logout</a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                        </svg>&nbsp;
                        Home
                    </a>
                </li>
                <li>
                    <a href="/profile">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" />
                        </svg>&nbsp;
                        Profile
                    </a>
                </li>
                <li>
                    <a href="/dashboard">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64L0 400c0 44.2 35.8 80 80 80l400 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 416c-8.8 0-16-7.2-16-16L64 64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z" />
                        </svg>&nbsp;
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/register">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="16" height="16">
                            <path fill="#ffffff"
                                d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3zM504 312l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                        </svg>&nbsp;
                        Add User
                    </a>
                </li>

            </ul>
        </nav>
    </div>
    <section class="students">
        <h2>AIML</h2>
        <!-- AIML -->
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Functions</th>
                        <th>UID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Profile Picture</th>
                        <th>Department</th>
                        <th>Role</th>
                        <th>View More</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each_entry in entries_aiml %}
                    <tr>
                        <td>
                            <a href="/register" class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                    <path fill="#000000"
                                        d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1
                                    23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152L0 424c0 48.6 39.4 88 88 88l272 0c48.6 0 88-39.4 88-88l0-112c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 112c0 22.1-17.9 40-40 40L88 464c-22.1 0-40-17.9-40-40l0-272c0-22.1 17.9-40 40-40l112 0c13.3 0 24-10.7 24-24s-10.7-24-24-24L88 64z" />
                                </svg>
                            </a>
                            <a href="{{ url_for('register') }}" class="delete-link" style="color: red;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
                                    <path fill="#ff0000"
                                        d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>
                            </a>
                        </td>
                        <td>{{each_entry.uid[:15]}}...</td>
                        <td>{{each_entry.username}}</td>
                        <td>{{each_entry.email}}</td>
                        <td>{{each_entry.profile_picture[:15]}}...</td>
                        <form action="/edit/{{each_entry.uid}}" method="POST">
                            <td>
                                <input type="text" name="department" id="department" value="{{aiml}}">
                            </td>
                            <td>
                                <select name="role">
                                    <option value="admin" {% if each_entry.role=='Admin' %}selected{% endif %}>Admin
                                    </option>
                                    <option value="mentor" {% if each_entry.role=='Mentor' %}selected{% endif %}>Mentor
                                    </option>
                                    <option value="student" {% if each_entry.role=='Mentee' %}selected{% endif %}>Mentee
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" id="view_details">
                                    Save
                                </button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- IT -->
         <h2>IT</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Functions</th>
                        <th>UID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Profile Picture</th>
                        <th>Department</th>
                        <th>Role</th>
                        <th>View More</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each_entry in entries_it %}
                    <tr>
                        <td>
                            <a href="/register" class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                    <path fill="#000000"
                                        d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1
                                    23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152L0 424c0 48.6 39.4 88 88 88l272 0c48.6 0 88-39.4 88-88l0-112c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 112c0 22.1-17.9 40-40 40L88 464c-22.1 0-40-17.9-40-40l0-272c0-22.1 17.9-40 40-40l112 0c13.3 0 24-10.7 24-24s-10.7-24-24-24L88 64z" />
                                </svg>
                            </a>
                            <a href="{{ url_for('register') }}" class="delete-link" style="color: red;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
                                    <path fill="#ff0000"
                                        d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>
                            </a>
                        </td>
                        <td>{{each_entry.uid[:15]}}...</td>
                        <td>{{each_entry.username}}</td>
                        <td>{{each_entry.email}}</td>
                        <td>{{each_entry.profile_picture[:15]}}...</td>
                        <form action="/edit/{{each_entry.uid}}" method="POST">
                            <td>
                                <input type="text" name="department" id="department" value="{{it}}">
                            </td>
                            <td>
                                <select name="role">
                                    <option value="admin" {% if each_entry.role=='Admin' %}selected{% endif %}>Admin
                                    </option>
                                    <option value="mentor" {% if each_entry.role=='Mentor' %}selected{% endif %}>Mentor
                                    </option>
                                    <option value="student" {% if each_entry.role=='Mentee' %}selected{% endif %}>Mentee
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" id="view_details">
                                    Save
                                </button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- BME -->
         <h2>BME</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Functions</th>
                        <th>UID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Profile Picture</th>
                        <th>Department</th>
                        <th>Role</th>
                        <th>View More</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each_entry in entries_bme %}
                    <tr>
                        <td>
                            <a href="/register" class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                    <path fill="#000000"
                                        d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1
                                    23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152L0 424c0 48.6 39.4 88 88 88l272 0c48.6 0 88-39.4 88-88l0-112c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 112c0 22.1-17.9 40-40 40L88 464c-22.1 0-40-17.9-40-40l0-272c0-22.1 17.9-40 40-40l112 0c13.3 0 24-10.7 24-24s-10.7-24-24-24L88 64z" />
                                </svg>
                            </a>
                            <a href="{{ url_for('register') }}" class="delete-link" style="color: red;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
                                    <path fill="#ff0000"
                                        d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>
                            </a>
                        </td>
                        <td>{{each_entry.uid[:15]}}...</td>
                        <td>{{each_entry.username}}</td>
                        <td>{{each_entry.email}}</td>
                        <td>{{each_entry.profile_picture[:15]}}...</td>
                        <form action="/edit/{{each_entry.uid}}" method="POST">
                            <td>
                                <input type="text" name="department" id="department" value="{{bme}}">
                            </td>
                            <td>
                                <select name="role">
                                    <option value="admin" {% if each_entry.role=='Admin' %}selected{% endif %}>Admin
                                    </option>
                                    <option value="mentor" {% if each_entry.role=='Mentor' %}selected{% endif %}>Mentor
                                    </option>
                                    <option value="student" {% if each_entry.role=='Mentee' %}selected{% endif %}>Mentee
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" id="view_details">
                                    Save
                                </button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- ME -->
         <h2>ME</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Functions</th>
                        <th>UID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Profile Picture</th>
                        <th>Department</th>
                        <th>Role</th>
                        <th>View More</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each_entry in entries_me %}
                    <tr>
                        <td>
                            <a href="/register" class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                    <path fill="#000000"
                                        d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1
                                    23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152L0 424c0 48.6 39.4 88 88 88l272 0c48.6 0 88-39.4 88-88l0-112c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 112c0 22.1-17.9 40-40 40L88 464c-22.1 0-40-17.9-40-40l0-272c0-22.1 17.9-40 40-40l112 0c13.3 0 24-10.7 24-24s-10.7-24-24-24L88 64z" />
                                </svg>
                            </a>
                            <a href="{{ url_for('register') }}" class="delete-link" style="color: red;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
                                    <path fill="#ff0000"
                                        d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>
                            </a>
                        </td>
                        <td>{{each_entry.uid[:15]}}...</td>
                        <td>{{each_entry.username}}</td>
                        <td>{{each_entry.email}}</td>
                        <td>{{each_entry.profile_picture[:15]}}...</td>
                        <form action="/edit/{{each_entry.uid}}" method="POST">
                            <td>
                                <input type="text" name="department" id="department" value="{{me}}">
                            </td>
                            <td>
                                <select name="role">
                                    <option value="admin" {% if each_entry.role=='Admin' %}selected{% endif %}>Admin
                                    </option>
                                    <option value="mentor" {% if each_entry.role=='Mentor' %}selected{% endif %}>Mentor
                                    </option>
                                    <option value="student" {% if each_entry.role=='Mentee' %}selected{% endif %}>Mentee
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" id="view_details">
                                    Save
                                </button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- EE -->
         <h2>EE</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Functions</th>
                        <th>UID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Profile Picture</th>
                        <th>Department</th>
                        <th>Role</th>
                        <th>View More</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each_entry in entries_ee %}
                    <tr>
                        <td>
                            <a href="/register" class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
                                    <path fill="#000000"
                                        d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1
                                    23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152L0 424c0 48.6 39.4 88 88 88l272 0c48.6 0 88-39.4 88-88l0-112c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 112c0 22.1-17.9 40-40 40L88 464c-22.1 0-40-17.9-40-40l0-272c0-22.1 17.9-40 40-40l112 0c13.3 0 24-10.7 24-24s-10.7-24-24-24L88 64z" />
                                </svg>
                            </a>
                            <a href="{{ url_for('register') }}" class="delete-link" style="color: red;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
                                    <path fill="#ff0000"
                                        d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>
                            </a>
                        </td>
                        <td>{{each_entry.uid[:15]}}...</td>
                        <td>{{each_entry.username}}</td>
                        <td>{{each_entry.email}}</td>
                        <td>{{each_entry.profile_picture[:15]}}...</td>
                        <form action="/edit/{{each_entry.uid}}" method="POST">
                            <td>
                                <input type="text" name="department" id="department" value="{{me}}">
                            </td>
                            <td>
                                <select name="role">
                                    <option value="admin" {% if each_entry.role=='Admin' %}selected{% endif %}>Admin
                                    </option>
                                    <option value="mentor" {% if each_entry.role=='Mentor' %}selected{% endif %}>Mentor
                                    </option>
                                    <option value="student" {% if each_entry.role=='Mentee' %}selected{% endif %}>Mentee
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" id="view_details">
                                    Save
                                </button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>